<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>

	<!-- TO LOAD ADMIN STUFF, COPY FROM HERE -->
	<!-- CSS Files -->
	<link href="../dashboard-assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../dashboard-assets/css/light-bootstrap-dashboard.css?v=2.0.1" rel="stylesheet" />

	<!-- Icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- SCRIPTS -->
	<!--   Core JS Files   -->
	<script src="dashboard-assets/js/core/jquery.3.2.1.min.js" type="text/javascript" defer></script>
	<script src="dashboard-assets/js/core/popper.min.js" type="text/javascript" defer></script>
	<script src="dashboard-assets/js/core/bootstrap.min.js" type="text/javascript" defer></script>
	<!-- END COPY FOR ADMIN STUFF -->
</head>

<body ng-controller="AdminCtrl">
	<!-- wrapper -->
	<div class="wrapper">
	<!-- COPY FROM HERE FOR MENU -->
		<!-- sidebar -->
		<div class="sidebar" data-color="blue">
				<!--
		Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		Tip 2: you can also add an image using data-image tag
-->
			<div class="sidebar-wrapper">
					<div class="logo">
							<a href="#" class="simple-text">
									<h3>CCPO</h3>
							</a>
					</div>
					<ul class="nav">
							<li class="nav-item active">
									<a class="nav-link" href="#/admin">
											<i class="nc-icon nc-chart-pie-35"></i>
											<p>Dashboard</p>
									</a>
							</li>
							<li>
									<a class="nav-link" href="#/profile">
											<i class="nc-icon nc-single-copy-04"></i>
											<p>User Profile</p>
									</a>
							</li>
							<li>
									<a class="nav-link" href="#/addAnnouncement">
											<i class="nc-icon nc-paper-2"></i>
											<p>Add Announcements</p>
									</a>
							</li>
							<li>
									<a class="nav-link" href="#/register">
											<i class="nc-icon nc-single-02"></i>
											<p>Register an Officer</p>
									</a>
							</li>
							<li>
									<a class="nav-link" href="#/showComplaint">
											<i class="nc-icon nc-notes"></i>
											<p>Complaints</p>
									</a>
							</li>

							<li class="nav-item active-pro" ng-click=logout()>
									<a class="nav-link active" href="#">
											<i class="nc-icon nc-button-power"></i>
											<p>Logout</p>
									</a>
							</li>
					</ul>
			</div>
		</div>
		<!-- end sidebar -->

		<div class="main-panel">
			<nav class="navbar navbar-expand-lg " color-on-scroll="500">
				<div class=" container-fluid  ">
				 	<h3>Dashboard <a class="navbar-brand" href="#/profile">&lt{{username}}&gt</a></h3>
					<button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-bar burger-lines"></span>
							<span class="navbar-toggler-bar burger-lines"></span>
							<span class="navbar-toggler-bar burger-lines"></span>
					</button>
				</div>
			</nav>
			<!-- End Navbar -->
	<!-- STOP HERE FOR MENU -->

			<!-- PUT ALL CONTENTS HERE -->
			<div class="content">
					<div class="container-fluid">
						<!-- 1st row -->
						<div class="row" >
							<!-- announcements card -->
							<div class="col-md-6">
								<div class="card ">
									<div class="card-header ">
										<!-- <h4 class="card-title">Announcements</h4> -->
										<a href="#/addAnnouncement"><button class="btn btn-primary btn-fill">
											<h4 class="card-title" style="color: white;">Announcements</h4>
										</button></a>
										<hr>
									</div>
									<div class="card-body " style="height: 300px; overflow-y: scroll;">
										<div class="table-responsive">
											<table class="table table-hover table-striped">
												<thead>
													<th>Date</th>
													<th>Place</th>
													<th>Title</th>
												</thead>
												<tbody>
													<tr ng-repeat="announcement in announcements">
														<td style="font-size: 12px;">{{announcement.date}}</td>
														<td style="font-size: 12px;">{{announcement.place}}</td>
														<td style="font-size: 12px;">{{announcement.title}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="card-footer ">
										<hr>
										<div class="stats">
												<i class="fa fa-check"></i> Data information certified
										</div>
									</div>
								</div>
							</div>
							<!-- end announcements card -->
							
							<!-- chart card -->
							<div class="col-md-6">
									<div class="card ">
										<div class="card-header ">
											<h4 class="card-title">Crime Chart</h4>
										</div>
										<div class="card-body ">
											<canvas id="bar" class="chart chart-bar ng-isolate-scope" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" width="688" height="344" style="display: block;"></canvas>
										</div>
										<div class="card-footer ">
											<div class="legend">
													<i class="fa fa-circle text-info"></i> Personal
													<i class="fa fa-circle text-default"></i> Property
													<i class="fa fa-circle text-danger"></i> Inchoate
													<i class="fa fa-circle text-success"></i> Statutory
											</div>
											<hr>
											<div class="stats">
													<i class="fa fa-check"></i> Data information certified
											</div>
										</div>
									</div>
							</div>
							<!-- end chart card -->
						<!-- </div> -->
						<!-- end first row -->
						
						<!-- 2nd row -->
						<!-- <div class="row"> -->
							<!-- complaints card -->
							<div class="col-md-6">
								<div class="card ">
									<div class="card-header ">
										<!-- <h4 class="card-title">Complaints</h4> -->
										<a href="#/showComplaint"><button class="btn btn-primary btn-fill">
											<h4 class="card-title" style="color: white;">Complaints</h4>
										</button></a>
										<hr>
									</div>
									<div class="card-body " style="height: 300px; overflow-y: scroll;">
										<div class="table-responsive">
											<table class="table table-hover table-striped">
												<thead>
													<th>Date</th>
													<th>Place</th>
													<th>Title</th>
												</thead>
												<tbody>
													<tr ng-repeat="complaint in complaints">
														<td style="font-size: 12px;">{{name}}</td>
														<td style="font-size: 12px;">{{complaint.place}}</td>
														<td style="font-size: 12px;">{{complaint.title}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="card-footer ">
										<hr>
										<div class="stats">
												<i class="fa fa-check"></i> Data information certified
										</div>
									</div>
								</div>
							</div>
							<!-- end somplaints card XD -->

							<!-- officers card -->
							<div class="col-md-6">
								<div class="card ">
									<div class="card-header ">
										<!-- <h4 class="card-title">Registered Officers</h4> -->
										<a href="#/register"><button class="btn btn-primary btn-fill">
											<h4 class="card-title" style="color: white;">Registered Officers</h4>
										</button></a>
										<hr>
									</div>
									<div class="card-body " style="height: 300px; overflow-y: scroll;">
										<div class="table-responsive">
											<table class="table table-hover table-striped">
												<thead>
													<th>Name</th>
													<th>Rank</th>
													<th>Substation</th>
													<th>Superior Officer</th>
												</thead>
												<tbody>
													<tr ng-repeat="officer in officers">
														<td style="font-size: 12px;">{{officer.name}}</td>
														<td style="font-size: 12px;">{{officer.rank}}</td>
														<td style="font-size: 12px;">{{officer.substation}}</td>
														<td style="font-size: 12px;">{{officer.superiorOfficer}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="card-footer ">
										<hr>
										<div class="stats">
												<i class="fa fa-check"></i> Data information certified
										</div>
									</div>
								</div>
							</div>
							<!-- end officers card -->
						</div>
						<!-- end 2md row -->
					</div>
			</div>
			<!-- end main content -->
		</div>
		<!-- end main panel -->
	</div>
	<!-- end wrapper -->
</body>
</html>
